<li id="<%= dom_id item %>" class="card p-1 px-2 m-1" data-url-value="<%= move_checklist_item_path(item.checklist, item) %>">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1"><%= item.description %></label>
  </div>
</li>
