<p id="notice"><%= notice %></p>

<h1>Checklists</h1>

<div class="row">
  <div class="col">
    <ul>
      <% @checklists.each do |checklist| %>
          <li><%= checklist.name %> <%= link_to 'Show', checklist, class:"btn btn-primary btn-small" %></li>
      <% end %>
    </ul>
  </div>
</div>

<br>

<%= link_to 'New Checklist', new_checklist_path %>
